<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>search-jobs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <div class="container mt-3">
            <div class="row">
                <div class="col-4">
                    <div v-for="(job,index) in jobs">
                        <ul class=" jobs-content  pt-2 pb-2"> 
                            <li>
                            <h4>{{job.company}}</h4> 
                            <i v-if="starred.includes(job.id)" class="fas fa-star" @click="removeToFav(starred,job.id)"></i>
                            <i v-else class="far fa-star" @click="addToFav(starred,job.id)"></i>    
                            </li>
                            <li>
                                {{job.position}}
                            </li>
                            <li>
                                {{job.description}}
                            </li>
                            <li class="date mt-1">
                                {{job.created_at}}
                            </li>
                            <li class="city">
                                {{job.city}}
                            </li>
                            <li class="contract">
                                {{job.contract}}
                            </li> 
                                <div v-if="applied.includes(job.id)" class="move-on">
                                    <button type="button" class="btn btn-danger" @click="remove(applied,job.id)">Applied</button>
                                </div>
                                <div v-else="applied.includes(job.id)" class="move-on">
                                    <button type="button" class="btn btn-success" @click="applyOn(applied,job.id)">Apply</button>
                                </div>
                        </ul>
                    </div>   
                </div>
                
                    <div class="col-4">
                        <h5 class="starred-content">Starred List</h5>
                        <div v-for="job in jobs">
                            <div v-if="starred.includes(job.id)">
                                <ul class="jobs-content pt-2 pb-2" id="box">
                                    <li>
                                        <h4>{{job.company}}</h4>
                                    </li>
                                    <li>
                                        {{job.position}}
                                    </li>
                                    <li>
                                        {{job.description}}
                                    </li>
                                    <li class="date mt-1">
                                        {{job.created_at}}
                                    </li>
                                    <li class="city">
                                        {{job.city}}
                                    </li>
                                    <li class="contract">
                                        {{job.contract}}
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </div>    
                        <div class="col-4">
                            <h5 class="starred-content">Applied List</h5>
                            <div v-for="job in jobs">
                                <div v-if="applied.includes(job.id)">
                                    <ul class="jobs-content pt-2 pb-2" id="box-2">
                                        <li>
                                            <h4>{{job.company}}</h4>
                                        </li>
                                        <li>
                                            {{job.position}}
                                        </li>
                                        <li>
                                            {{job.description}}
                                        </li>
                                        <li class="date mt-1">
                                            {{job.created_at}}
                                        </li>
                                        <li class="city">
                                            {{job.city}}
                                        </li>
                                        <li class="contract">
                                            {{job.contract}}
                                        </li> 
                                    </ul>
                                </div>

                            </div>
                        </div>
            </div>
                <div class="application-sent col-4">
                    <div class="close">Chiudi</div>
                    <h3>Candidatura inviata!</h3>
                </div>
            
        </div>
    </div>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>