<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>search-jobs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <!--Milestone 1
        Mostriamo tutti gli annunci in una lista, con una grafica molto elementare.-->
        <div class="container mt-3">
            <div v-for="(job,index) in jobs"  class=" row firstMilestone justify-content-center">
                <ul class=" jobs-content col-8 pt-2 pb-2">
                    <li>
                       <h4>{{job.company}}</h4> 
                       <i v-if="starred.includes(job.id)" class="fas fa-star" @click="removeToFav(starred,job.id)"></i>
                       <i v-else="starred.includes(job.id)" class="far fa-star" @click="addToFav(starred,job.id)"></i>  
                    </li>
                    <li>
                        {{job.position}}
                    </li>
                    <li>
                        {{job.description}}
                    </li>
                    <li>
                        {{job.created_at}}
                    </li>
                    <li>
                        {{job.city}}
                    </li>
                    <li>
                        {{job.contract}}
                    </li> 
                </ul>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>